/* add css module styles here (optional) */

.blue {
  background-color: blue;
  font-size: 72px;
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.red {
  background-color: red;
  font-size: 45px;
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}
